body {
	font-family: "Roboto", sans-serif;
	color: var(--sup-dark-color);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
}

ul {
	margin: 0;
	padding-left: 0;
}

img {
	display: block;
	width: 100%;
	height: auto;
}

.list {
	list-style: none;
}

.link {
	text-decoration: none;
}

.container {
	max-width: 1158px;
	padding: 0 15px;
	margin: 0 auto;
}

:root {
	--sup-dark-color: #2e2f42;
	--sup-white-color: #ffffff;
	--hover-fokus-color: #404bbf;
	--logo-background-color: #4d5ae5;
	--sub-dark-color: #434455;
	--title-white-color: #f4f4fd;
}

/* --------------------WebStudio main page -------------------------- */
/* --------------------Header-------------------------- */
.header {
	background-color: var(--sup-white-color);
	padding-top: 24px;
	padding-bottom: 24px;
}
/* .header-navigation {
	display: flex;
	align-items: right;
	/* margin-right: auto;
	margin-left: auto; */
/* } */

.header-container {
	display: flex;
	align-items: center;
}

.header-container .header-navigation {
	display: flex;
	align-items: center;
}
.header-logo {
	font-family: "Raleway";
	color: var(--sup-dark-color);

	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	text-decoration: none;
	text-transform: uppercase;
	/* padding-top: 24px;
	padding-bottom: 24px; */
}
.header-logo-web {
	font-family: "Raleway";
	color: var(--logo-background-color);

	font-weight: 800;
	font-size: 18px;
	line-height: 1.33;
	/* text-decoration: none; */
	text-transform: uppercase;
	letter-spacing: 0.03em;
}
.header-list {
	font-family: "Roboto";
	color: var(--sup-dark-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.33;
	letter-spacing: 0.02em;
	display: flex;
	margin-left: 76px;
}

.header-item {
	margin-right: 40px;
}
.header-item:nth-last-child() {
	margin-right: 0;
}
.header-link {
	color: var(--sup-dark-color);
	/* padding-top: 24px;
	padding-bottom: 24px; */
}
.header-link:focus,
.header-link:hover {
	color: var(--hover-fokus-color);
}

.address {
	font-style: normal;
	margin-left: auto;
	/* justify-content: end;
	align-items: end; */
}

.address-list {
	display: flex;
}
.address-item {
	margin-right: 40px;
}
.address-item:nth-last-child() {
	margin-right: 0;
}

.address-link {
	color: var(--sub-dark-color);
}
.address-link:hover,
.address-link:focus {
	color: var(--hover-fokus-color);
}

/* --------------------Main------------------------- */

.hero {
	background-color: var(--sup-dark-color);
	align-items: center;
	text-align: center;
	padding-top: 188px;
	padding-bottom: 188px;
}
.hero-title {
	font-size: 56px;
	line-height: 1.07;
	letter-spacing: 0.02em;
	max-width: 500px;
	color: var(--sup-white-color);

	margin-bottom: 48px;
	max-width: 500px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.hero-btn {
	font-family: inherit;
	background-color: var(--logo-background-color);
	color: var(--sup-white-color);
	cursor: pointer;
	letter-spacing: 0.04em;
	font-weight: 500;
	font-size: 16px;
	line-height: 1, 5;

	border-radius: 4px;
	border: none;
	display: block;
	flex-direction: row;
	align-items: flex-start;
	padding-top: 16px;
	padding-bottom: 16px;
	margin-left: auto;
	margin-right: auto;
	min-width: 169px;
	min-height: 56px;
	gap: 10px;
}
.hero-btn:focus,
.hero-btn:hover {
	background-color: var(--hover-fokus-color);
}

/* --------------------Our features------------------------- */

.features {
}

.features-container {
	padding: 120px 156px;
}

.visually-hidden {
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0 0 0 0);
	overflow: hidden;
}
.features-list {
}
.list {
	display: flex;
	gap: 24px;
}
.features-item {
	width: calc((100% - 72px) / 4);
	flex-grow: 0;
}
.features-suptitle {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--sup-dark-color);

	margin-bottom: 8px;
	text-align: center;
}
.features-subtitle {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--sub-dark-color);
	white-space: normal;
}
/* --------------------Our features------------------------- */

.images {
	min-width: 412px;
}

.images-container {
	padding: 0 156px 120px;
}

.images-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--sup-dark-color);

	text-align: center;
	margin-bottom: 72px;
}
.images-list {
}
.images-item {
	flex-basis: calc((100% - 24px) / 3);
}

/* --------------------Our team------------------------- */
.team {
	background-color: var(--title-white-color);
}

.team-container {
	padding: 120px 156px;
}

.team-title {
	font-weight: 700;
	font-size: 36px;
	line-height: 1.11;
	letter-spacing: 0.02em;
	text-transform: capitalize;
	color: var(--sup-dark-color);

	text-align: center;
	margin-bottom: 72px;
}
.team-list {
	display: flex;
}
.team-item {
	background-color: var(--sup-white-color);
	/* margin-right: 24px; */
	box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
		0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
	border-radius: 0px 0px 4px 4px;
}
.team-suptitle {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--sup-dark-color);
	margin-bottom: 8px;
}
.team-subtitle {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--sub-dark-color);
}

.team-information {
	text-align: center;
	margin: 32px;
}
/* --------------------Footer------------------------- */
.footer {
	background-color: var(--sup-dark-color);
}

.footer-container{


}

.footer-logo {
	text-transform: uppercase;
	text-decoration: none;
	color: var(--title-white-color);
}
.footer-logo-web {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 800;
	font-size: 18px;
	line-height: 1.16;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--logo-background-color);

}
.footer-title {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #e7e9fc;
}
/* --------------------Portfolio page------------------------- */

.header {
}
.header-navigation {
}
.header-logo {
}
.header-logo-web {
}
.header-list {
}
.list {
}
.header-item {
}
.header-link {
}
.link {
}
.address {
}
.address-list {
}
.address-item {
}
.address-link {
}
.filter {
}
.filter-title {
}
.filter-list {
}
.filter-item {
}
.links {
}
.filter-button {
	background-color: var(--title-white-color);
	border: 1px solid #e7e9fc;
	font-family: inherit;
	border-radius: 4px;
	color: var(--logo-background-color);
	font-weight: 500;
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.04em;
	cursor: pointer;
}

.filter-button:hover,
.filter-button:focus {
	background-color: var(--hover-fokus-color);
	color: var(--sup-white-color);
}

.portfolio-list {
}

.portfolio-item {
	background-color: var(--sup-white-color);
}
.portfolio-suptitle {
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
	letter-spacing: 0.02em;
	color: var(--sup-dark-color);
}

.portfolio-subtitle {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: var(--sub-dark-color);
}
.footer {
}
.footer-logo {
}
.footer-logo-web {
}
.footer-title {
}
